@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");
* {
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* ******************************************NAVBAR****************************************** */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 15px 20px 15px 20px; */
  padding: 15px 60px;
}
nav img {
  width: 25px;
  height: auto;
  border-bottom: 2px solid rgb(58, 199, 235);
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: auto;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding-left: 25px;
}
.vl {
  border: 1px solid #ffffff;
  margin: 0px 0px 0px 20px;
  padding-top: 40px;
}

nav input,
nav button,
nav ul a,
nav ul,
nav,
nav img {
  background-color: #2f1793;
}

nav button {
  background-color: #1fd8bc; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}
nav button:hover {
  background-color: #1cbba3;
}

nav input {
  border: none;
  border-bottom: 2px solid rgb(58, 199, 235);
  font-size: 20px;
  width: 130px;
  color: white;
}

nav input::placeholder {
  color: rgb(194, 193, 193);
}

nav input:focus {
  border: none;
  border-bottom: 2px solid rgb(58, 199, 235);
  outline-offset: 0px;
  outline: none;
}

.fill {
  transition: all 2s;
}

.fill:after {
  text-align: left;
  margin: 0;
  opacity: 0;
}
.fill:hover {
  color: rgb(0, 255, 55);
  z-index: 1;
}
.fill:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* ************************************************************************************************** */
.container1 {
  background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/6DiSccmDaE4ciOGe4sgqoG/457ea9ca6a59f790e85223df4c748a1a/WB_F2_TomRiddleInChamberOfSecrets_IAmLordVoldemortReveal_HP2-FX-CS-15.jpg);
}
.section1 {
  display: flex;
  margin: 140px 0px 190px 0px;
  flex-direction: column;
  justify-items: center;

  /* border: 2px solid rgb(58, 199, 235); */
}
.section1 h1,
.section1 p,
.section1 a {
  text-align: center;
  text-decoration: none;
  font-family: "Koho", sans-serif;
  color: rgb(236, 236, 236);
  background-color: rgb(36, 36, 36);
}

.section1 h1 {
  margin: auto;
  padding: 8px 15px;
  /* border: none; */
  /* background-color: rgb(187, 187, 187); */
  border-radius: 5px;
  font-size: 50px;
}
.section1 p {
  margin: auto;
  margin-top: 40px;
  /* background-color: rgb(187, 187, 187); */
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 30px;
}
.section1 p:nth-child(3) {
  margin-top: 10px;
}

.section1 a {
  margin: auto;
  margin-top: 40px;
  background-color: rgb(192, 40, 40);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 30px;
}

/* ***************************Section 2****************************************************** */
.section2,
.section2 ul,
.section2 ul li,
.section2 ul li img {
  background-color: #ebaca2;
}
.section2 {
  margin: 0px 0px;
  padding: 60px 0px;
}
.section2 h1 {
  background-color: #ebaca2;
  text-align: center;
}

.section2 ul li img {
  width: 60px;
  height: auto;
  border: none;
  border-radius: 4px;
}
.section2 ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.section2 ul li img {
  margin-right: 20px;
}
.section2 ul {
  display: flex;
  border-radius: 4px;
  border: none;
  margin-left: 20%;
  margin-right: 30%;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* *************************************Section 3******************************************** */
.section3 {
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bed3c3;
}

.section3 a {
  margin-top: 30px;
  background-color: #bed3c3;
}

.section3 iframe {
  width: 60%;
  height: 400px;
  margin-bottom: 43px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.section3 a button {
  background-color: #1fbbeb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

.section3 a button:hover {
  background-color: #1ca4ce;
}

/* *********************************Section4*************************************************** */

.section4,
.section4 h2,
.section4 ul {
  background-color: #4a919e;
}

.section4 h2 {
  padding-top: 80px;
  margin-left: 100px;
  padding-bottom: 30px;
  font-size: 50px;
  color: white;
}

.section4 ul li img {
  width: 200px;
  height: auto;
  border: none;
  border-radius: 7px;
  transition: all 0.5s ease 0s;
  background-color: rgb(235, 235, 235);
}

.section4 ul li img:hover {
  width: 225px;
  height: auto;
}
#hogwards {
  padding: 70px 0px;
}
.section4 ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(235, 235, 235);
  padding-bottom: 20px;
}

.section4 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px 0px;
  padding-bottom: 60px;
}

/* ************************************Section 5******************************************** */

.section5 {
  display: flex;
  margin: 30px 200px;
  justify-content: space-between;
}

.sec5form,
.sec5form form {
  background-color: #eaeaea;
}

.sec5form {
  padding: 80px 40px;
  width: 40%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.sec5form form {
  display: flex;
  flex-direction: column;
}

.ques {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}
.cardnum {
  display: flex;
  margin-bottom: 5px;
}

.cardnum input {
  margin-left: 45px;
}
.CVV {
  display: flex;
}
#det {
  padding-bottom: 5px;
  border-radius: 5px;
}
.ques input {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.expiry select {
  margin-left: 10px;
}

.ques input:focus,
.expiry select:focus {
  border: 1px solid rgb(23, 223, 156);
  outline-offset: 0px;
  outline: none;
}

.CVV input {
  width: 40px;
  margin-left: 85px;
}

.expiry {
  padding-top: 8px;
  display: flex;
  border-radius: 5px;
}
.expiry p {
  border-radius: 5px;
}

.sec5form button {
  background-color: #e485d4; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
}

.preg {
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 16px 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.preg input,
.preg label {
  background-color: #ffffff;
}

.preg label:nth-child(1) {
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}
.preg input {
  margin: 0px 0px 0px 20px;
}

.name {
  margin-bottom: 20px;
  padding: 16px 9px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.name input {
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 18px;
}

.name input:focus {
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline-offset: 0px;
  outline: none;
}

#naam {
  padding-right: 20px;
  font-size: 20px;
}

#truelabel {
  padding-right: 50px;
}
/* *****************************    Section5:text     ************************ */

.sec5text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
}

.sec5text h1 {
  background-color: rgb(78, 78, 78);
  color: rgb(239, 252, 255);
  border-radius: 10px;
  padding: 20px;
}

.sec5text h2 {
  background-color: rgb(36, 36, 36);
  color: white;
  margin-top: 20px;
  padding: 20px;
  width: 180px;
  border-radius: 5px;
}

.sec5text p {
  background-color: #34f0f0;
  color: rgb(10, 9, 8);
  padding: 20px;
  text-align: justify;
  margin-top: 80px;
  border-radius: 20px;
}

/* ****************************Footer********************************************************* */

footer {
  display: flex;
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  justify-content: flex-start;
}
footer p {
  padding: 0px 20px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
